<div class="container">

    {{#each users}}


    <div class="card mt-5" style="width: 18rem;">
        <img src="{{avatar}}" class="card-img-top adjust-center" alt="...">
        <div class="card-body">
            <h6 class="card-text">User_ID: {{id}}</h6>
            <h3 class="card-text">Username:{{username}}</h3>
            <h5 class="card-text">e-mail: {{email}}</h5>
            <h5 class="card-text">ROLE: {{role}}</h5>
            <div class="card-buttons mt-2 text-center">
                <a href="/user/edit/{{id}}" class="btn btn-info">TURN ADMIN</a>
            </div>

            <div class="card-footer mt-2">
                <small class="text-muted mt-2">Member since: {{createdAt}}</small>
            </div>

            <div class="card-buttons mt-2 text-center">
                <a href="/user/edit/{{id}}" class="btn btn-dark mt-2">EDIT</a>
                <a href="/user/edit/{{id}}" class="btn btn-danger mt-2">DELETE</a>
            </div>
        </div>
    </div>
    {{/each}}


</div>