<div class="container">

    {{#each user}}


    <div class="card mt-5" style="width: 18rem;">
        <img src="{{avatar}}" class="card-img-top adjust-center" alt="...">
        <div class="card-body">
            <h3 class="card-text">{{username}}</h3>
            {{#if ../isAdmin}}
            <h5 class="card-text">ROLE: {{role}}</h5>
            <div class="card-buttons mt-2 text-center">
                <form action="/user/ADMIN/edit_role/{{id}}" method="POST">
                    <input type="submit" value="Mark as ADMIN" class="btn btn-danger btn-sm">
                </form>

                {{/if}}
                <a href="/user/profile/{{currentUser.id}}" class="btn btn-info mt-2">GO TO USER PROFILE</a>
                {{#if ../isAdmin}}
            </div>

            <div class="card-buttons mt-2 text-center">
                <a href="/user/edit/{{id}}" class="btn btn-dark mt-2">EDIT</a>
                <form action="/user/delete/{{id}}" method="POST">
                    <input type="submit" value="DELETE" class="btn btn-danger mt-2">
                </form>
            </div>
            {{/if}}



        </div>
    </div>
    {{/each}}

    {{!-- <div class="container">

        <ul>

            {{#each movie}}
            <div class="card" style="width: 18rem;">
                <form action="/movie/delete/{{favMovies.id}}" method="POST">
                    <li class="list-group-item">watchList: <img src="{{image}}" alt=""> </li>
                    <input type="submit" formaction="/user/addMovie/addFav/{{movie.id}}" value="DELETE"
                        class="btn btn-danger mt-2">
                    <a class="text-center" href="/movie/details/{{movie.id}}"> GET MOVIE DETAILS </a>

                    <li class="list-group-item">favorites movie:<img src="{{image}}" alt=""></li>
                    <input type="submit" formaction="/user/addMovie/addFav/{{movie.id}}" value="DELETE"
                        class="btn btn-danger mt-2">
                    <a class="text-center" href="/movie/details/{{movie.id}}"> GET MOVIE DETAILS </a>

                    {{/each}}

        </ul>

    </div>


</div> --}}