<div class="container">
    <h1>Welcome, {{user.username}}</h1>

    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{user.avatar}}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{user.username}}</h5>
        </div>
        <li class="list-group-item">Favorite Movies:{{#each favMovies}} <img src="{{image}}" alt=""> {{/each}}</li>

        <li class="list-group-item">watchList: <img src="{{image}}" alt=""> </li>
        </ul>
        <div class="card-footer mt-2">
            <small class="text-muted mt-2">Member since: {{user.createdAt}}</small>
        </div>


        <div class="card-buttons mt-2 text-center">
            <a href="/user/edit/{{user._id}}" class="btn btn-dark mt-2">EDIT</a>
            <form action="/user/delete/{{user.id}}" method="POST">
                <input type="submit" value="DELETE" class="btn btn-danger mt-2">
            </form>
        </div>
    </div>

</div>
<div class="container">


    <ul>
        <li class="list-group-item">watchList: {{user.watchList}}</li>
        <li class="list-group-item">favorites movie: {{#each favMovies}} <img src="{{image}}" alt="">{{/each}}</li>
        <form action="/movie/delete/{{favMovies.id}}" method="POST">
            <input type="submit" value="DELETE" class="btn btn-danger mt-2">
        </form>
    </ul>

</div>





</div>
</div>