<div class="container">

    <h1> {{movie.title}}</h1>
    <hr>
    <img class="imgMov" src="{{movie.image}}" alt="">
    <hr>
    <p>Plot: {{movie.plot}}</p>
    <hr>
    <p>Stars: {{movie.stars}}</p>
    <hr>
    <p>Genres: {{movie.genres}}</p>
    <hr>
    <p>Year: {{movie.year}}</p>
    <hr>
    <p>Countries: {{movie.countries}}</p>
    <hr>


    <a href="/" class="btn btn-dark">Return to index</a>

</div>