<div class="container">

    <h1> {{movie.title}}</h1>
    <hr>
    <img class="imgMov" src="{{movie.image}}" alt="">
    <hr>
    <p>Plot: {{movie.plot}}</p>
    <hr>
    <p>Stars: {{movie.stars}}</p>
    <hr>
    <p>Genres: {{movie.genres}}</p>
    <hr>
    <p>Year: {{movie.year}}</p>
    <hr>
    <p>Countries: {{movie.countries}}</p>
    <hr>

    <form action="/user/addMovie/{{movie.id}}" method="POST">
        <input type="submit" formaction="/user/addMovie/addFav/{{movie.id}}" value="Add to favorite"
            class="btn btn-primary mt-3">
        <input type="submit" formaction="/user/addMovie/addWat/{{movie.id}}" value="Add to Watch"
            class="btn btn-primary mt-3">
    </form>
    <form action="/user/add_favorite/{{movie.id}}" method="POST">
        <input type="submit" value="Add to wathlist" class="btn btn-primary mt-2">
    </form>
    <a href="/" class="btn btn-dark mt-2">Return to index</a>
</div>
<div class="container">
    {{#each comments}}
    <p>{{comment}}</p>
    <form action="/comment/delete/{{id}}/{{../movie.id}}" method="POST">
        <input type="submit" value="DELETE" class="btn btn-danger mt-2">
    </form>
    {{/each}}

    <form action="/comment/createcomment" method="POST">
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Coments</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="comment"></textarea>
        </div>
        <input type="hidden" name="movieId" value="{{movie.id}}">
        <input type="submit" value="Send comment" class="btn btn-primary mt-2">

    </form>
</div>